*pyc
node_modules/
package-lock.json
words/static/js/main.js
words/static/js/quiz.js
words/static/js/search.js
words/static/js/common.js
words/static/js/cardbox.js
words/static/js/revision.js
words/static/js/context.js
words/static/js/anagram.js
words/static/open-iconic-1.1.1
words/static/js/tools.js
static
.coverage
htmlcov
zyzzyva.sql
questions.csv
zyzzyva.sql.gz
.vscode
db.sqlite3
tournament/static/js/main.js
yarn.lock
scratch.py