*pyc
node_modules/
package-lock.json
tournament/static/bundle*
tournament/static/index.html
.coverage
htmlcov
zyzzyva.sql
questions.csv
zyzzyva.sql.gz
.vscode
db.sqlite3
pairing-db.sqlite3
tournament/static/js/main.js
yarn.lock
scratch.py
team_pair/settings_local.py

geckodriver.log

tournament/static/js/
static
coverage/
wespa.org_latest.txt
merge.txt
media
