{% extends "account/base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">Login</div>
          <div class="card-body">
            <form method="post"> 
              {% csrf_token %}
              {% if form.non_field_errors %}
              <div class="alert alert-danger">{{ form.non_field_errors|join:" " }}</div>
              {% endif %}
              <div class="mb-3">
                <label for="{{ form.username.id_for_label }}" class="form-label">Username</label>
                <input type="text" name="login" autofocus="" 
                        autocapitalize="none" autocomplete="username" maxlength="150" class="form-control"
                        id="id_username"
                >
                {% if form.username.errors %}
                <div class="invalid-feedback">{{ form.username.errors|join:" " }}</div>
                {% endif %}
              </div>
              <div class="mb-3">
                <label for="{{ form.password.id_for_label }}" class="form-label">Password</label>
                <input type="password" name="password" autocomplete="current-password"
                         class="form-control" id="id_password"
                >
                {% if form.password.errors %}
                <div class="invalid-feedback">{{ form.password.errors|join:" " }}</div>
                {% endif %}
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
          </div>
          <div class="row">
                <div class="offset-4 justify-content-center col-12">
                    <a  class="me-5" href="/accounts/signup/">Sign up</a>
                    <a href="/accounts/password/reset/">Reset password</a>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}