{% extends "profiles/base.html" %}
{% block content %}
    <div class="m5">
        {% if request.user.profile.full_name %}
            <h2>Update your profile</h2>
        {% else %}
            <h2>Create your profile</h2>
        {% endif %}
        
        <p>Please fill in your full name, date of birth and your display name in the form below.</p>
        
        <p>Please note that the names as they appear on the WESPA ratings list happen to be limited to 20 characters of length. 
            We strongly recommand that the display name should be your <strong>first and last name</strong>. In some cases such as De Silva or De Almeida the last name itself is made up of 
            two components so having three names entered into the display name field would be fine.</p>

        <p>So if you have multiple middle names or if your first or last name is particularly lengthy you want to choose a combination that fits 
            with in this limit. <b>If you already have an existing <a href="https://wespa.org/ratings.shtml" target="_blank">WESPA</a> or 
                <a href="https://scrabble.lk/ratings/"  target="_blank">national rating</a>, please enter your display name exactly as it appears in the rating list.</b></p>
        
        <p>If it's not possible to choose such a combination please type in as many characters as possible. This is how your name will unfortunately appear in the
        wespa ratings list and that's beyond our control. However in tournaments your correct name will be displayed.
        </p>
        
        <p>You only need to fill this form once, there after for all tournaments conducted under the auspices of the Scrabble Federation of Sri Lanka you 
            will be able to register by just entering your player id or email address
        </p>

    </div>
    <form method="post">
        {% csrf_token %}

        <!-- Loop through each form field -->
        {% for field in form %}
        <div class="mb-3">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>

            {{ field }}
            {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
            {% if field.errors %}
            <div class="alert alert-danger">
                {{ field.errors.0 }}
            </div>
            {% endif %}
        </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}