{% load static %}
<!DOCTYPE html> 
<html theme="dark" data-bs-theme="dark">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Herald :: Scrable Tournament Manager</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/default.css">
</head>

<body>
  <div class="container-xl">
    <div id="root"></div>
    <div id="editable"></div>
    <div id="frm" style="display: none">{{from}}</div>
    <div class="row">
        {% if request.user.is_authenticated %}
            <div class="m1">Logged in as <a href="/profile/">{{ request.user.username }}</a>. <a href="/accounts/logout/">Logout</a></div>
            <input type="hidden" name="hh" id="hh" value="true" />
            
        {% else %}
            <div class="col"><a href="{% url 'account_login' %}">Login</a></div> 
            <div class="col"><a href="{% url 'account_signup' %}">Sign Up</a></div> 
        {% endif %}
    </div>
  </div>
</body>

<script src="/static/js/bundle.js" type="module"></script>

</html>